<footer id="footer">
  <div class="footer-left">
    Site développé par <i class="fas fa-heart"></i> par un elfe ludique et un
    gobelin cransseux.
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</footer>
