<header id="header">
  <a href="{{ .Site.BaseURL }}">
    <div id="logo" style="background-image: url({{ "images/logo.svg" | absURL }})"></div>
    <div id="title">
      <h1>{{ .Site.Title }}</h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
</header>

